.cover__subtitle {
  width: 360px;
  margin: 0 auto;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

@media screen and (max-width: 744px) {
  .cover__subtitle {
    width: 340px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 480px) {
  .cover__subtitle  {
    width: 260px;
    font-size: 14px;
    line-height: 16px;
  }
}
