.place__link {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-decoration: underline;
  text-underline-offset: 5px;
  color: #fff;
  transition: opacity .24s;
}

.place__link:hover {
  opacity: .8;
}

