.footer__nav {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: start;
  list-style: none;
}

@media screen and (max-width: 540px) {
  .footer__nav {
    flex-direction: column;
    gap: 32px;
  }
}
