.cover__background {
  position: relative;
  width: 100%;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../../../images/trains-background.jpg') center;
  background-size: cover;
  text-decoration: none;
  transition: background-color .24s;
  color: #fff;
}

.cover__background::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: #2a2c2f;
  opacity: .3;
  transition: opacity .24s;
}

.cover__background:hover::before {
  opacity: .8;
}

@media screen and (max-width: 1024px) {
  .cover__background {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__background {
    min-height: 480px;
  }
}

@media screen and (max-width: 540px) {
  .cover__background {
    min-height: 340px;
  }
}

@media screen and (max-width: 380px) {
  .cover__background {
    min-height: 200px;
  }
}

