.place__url-heading {
  margin: 0 0 12px 0;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 2px;

  color: #AAAAAA;
  /* this color has a meme brother */
  /* https://i.pinimg.com/736x/df/49/74/df497422e7cae08662766faa21141ce8.jpg */
}
